import pandas as pd

In [60]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns

In [27]:
dBig = pd.read_csv("Weather_Data__Hourly__-_Environment_Canada.csv")

/Users/akeems/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
#Process data 
dBig["DT"] = pd.to_datetime(dBig["Date and Time"])
dBig["Hour"] = dBig["DT"].dt.hour
dBig['DateMD'] = dBig['DT'].apply(lambda x: x.strftime('%m-%d'))
dBig['Year'] = dBig['DT'].dt.year
dBig['Month'] = dBig['DT'].dt.month
dBig.head()

,Row ID,Station ID,Station Name,Station Province,Station Latitude,Station Longitude,Location,Station Elevation (m),Station Climate Identifier,Station WMO Identifier,...,Wind Speed (km/h),Visibility (km),Air Pressure (kPa),Humidex,Wind Chill (degrees C),DT,Hour,DateMD,Year,Month
0,4685020191208070000,46850,THORSBY AGCM,ALBERTA,53.22,-113.89,"(53.22, -113.89)",754.0,3016441,71504.0,...,NaN,NaN,NaN,NaN,NaN,2019-12-08 07:00:00,7,12-08,2019,12
1,4685020191208080000,46850,THORSBY AGCM,ALBERTA,53.22,-113.89,"(53.22, -113.89)",754.0,3016441,71504.0,...,NaN,NaN,NaN,NaN,NaN,2019-12-08 08:00:00,8,12-08,2019,12
2,4685020191208100000,46850,THORSBY AGCM,ALBERTA,53.22,-113.89,"(53.22, -113.89)",754.0,3016441,71504.0,...,NaN,NaN,NaN,NaN,NaN,2019-12-08 10:00:00,10,12-08,2019,12
3,4685020191208110000,46850,THORSBY AGCM,ALBERTA,53.22,-113.89,"(53.22, -113.89)",754.0,3016441,71504.0,...,NaN,NaN,NaN,NaN,NaN,2019-12-08 11:00:00,11,12-08,2019,12
4,4685020191208120000,46850,THORSBY AGCM,ALBERTA,53.22,-113.89,"(53.22, -113.89)",754.0,3016441,71504.0,...,NaN,NaN,NaN,NaN,NaN,2019-12-08 12:00:00,12,12-08,2019,12

Below take all of the temperature values for each year, and puts them into a series with the name of that year. Those series are then put into a list. 

If you want to ANOVA, each element of the list temps is a series of one year of temps, you can either loop through the list to access them, or just use the index [0], [1], etc...

In [57]:
#All values of temp for a year in one series. 
#One series per year
years = dBig["Year"].unique()
temps = []

for y in years:
    tmp = dBig[dBig["Year"]==y]
    tmp2 = pd.Series(tmp["Temperature (degrees C)"], name=y)
    tmp2 = tmp2.dropna()
    temps.append(tmp2)

#Print the first series to see some values. 
temps[0]

0         -13.7
1         -13.5
2         -14.0
3         -13.6
4         -10.7
           ...
1560044    -2.5
1560045     0.9
1560046    -1.1
1560047    -1.3
1560048     0.4
Name: 2019, Length: 85806, dtype: float64

You could also chage the part where I put the values into a series. For example, you could add other values (e.g. station name, date) by wrapping them into a tuple. In that case you could use the index to get the "part" of the data you want.

In [49]:
#All values of temp for a year in one series, along with location and date.  
#One series per year
years = dBig["Year"].unique()
temps2 = []

for y in years:
    tmp = dBig[dBig["Year"]==y]
    tmp2 = pd.Series((tmp["Temperature (degrees C)"], tmp["Station ID"], tmp["DT"]), name=y)
    tmp2 = tmp2.dropna()
    temps2.append(tmp2)

#print the first series, the second [] specifies which value to get
#temps[0][0]#Temp
#temps[0][1]#Station ID
temps2[0][2]#Date

0         2019-12-08 07:00:00
1         2019-12-08 08:00:00
2         2019-12-08 10:00:00
3         2019-12-08 11:00:00
4         2019-12-08 12:00:00
                  ...
1560044   2019-04-30 23:00:00
1560045   2019-04-30 18:00:00
1560046   2019-04-30 06:00:00
1560047   2019-04-30 01:00:00
1560048   2019-04-30 18:00:00
Name: DT, Length: 86588, dtype: datetime64[ns]

You could also use a similar loop and replace the YEAR with anything else - you could get one series per station, or day, etc...